body{
   
    margin: 0%;
    padding: 0%;
    background-color: rgb(231, 229, 229);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:white;
    box-shadow: 0px 4px 4px 0px rgb(155, 154, 154);
    position: fixed;
    width: 100%;
    top: 0%;
}
nav ul a{
    text-decoration: none;
    margin-inline: 25px;
    font-size: 18px;
    color: black;
}
nav button{
    width: 80px;
    height: 28px;
    background-color: rgb(231, 5, 5);
    color: white;
    font-size: 18px;
    border: none;
}
nav button:hover{
    border:2px solid red;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
nav ul{
    margin-right: 26px;
    margin-top: 22px;
}
nav.logo{
    margin-left: 23px;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 105px;
}
.mainText{
    margin-top: 33px;
}
.mainText h1{
    font-size: 58px;
}
.mainText h2{
    font-size: 44px;
    color: rgb(8, 165, 165);
}
.main img{
    margin-right: -15px;
}
.mainText button{
    width: 120px;
   height: 30px;
   background-color:rgb(135, 187, 235);
   color: white;
   font-size: 22px;
   border: none;
}
   .mainText button:hover{
    border: 2px solid rgb(135, 187, 235);;
    background-color: transparent;
    color: black;
cursor: pointer;
}
.head{
    text-align: center;
    padding: 55px;
    margin-top: -28px;
}
.head span{
    color: rgba(6, 161, 161);
    height:67% ;
}
.card{
    display: flex;
    justify-content: center;
}
.card .trend{
    width: 280px;
    background-color: aliceblue;
    margin-inline:22px;
}
.trend img{
    width: 99%;
    height: 67%;
}
.trend .cardText{
    padding: 10px;

}
.trend i{
    color: yello;
    font-size: 22px;
}
.trend button{
    width: 90px;
    height: 28px;
    background-color: red;
    font-size: 13px;
    border-radius: 22px;
    border: none;
   color: white;
    margin-left: 33px;
   
}
 .card.trend:hover{
    background-color:gray;
    color: white;
    width: 294px;
    height: 34px;
    transition: 0.6s ease;
}
.customer{
    display: flex;
    justify-content: centre;

}
.customer .review{
    width: 280px;
    background-color: white;
    padding: 24px;
    margin-inline: 23px;
}
.review img{
    width: 54%;
    border-radius: 50%;
}
.review i{
    font-size: 22px;
}
.contactPage{
    border: 3px solid green;
    text-align: center; 
    padding: 44px;
    width: 500px;
    margin-left: 26%;
}
.contactPage input{
    width: 496px;
    padding: 6px;
    font-size: 19px;
    outline: none;
    margin-top: 11px;
}
.contactPage button{
    width: 140px;
    height: 37px;
    background-color:green;
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;

}
.contactPage button:hover{
    border: 3px solid green;
    background-color: transparent;
    color: black;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color:white;
    color: black;
    padding: 55px;
    margin-top: 55px;
}
.loginPage{
    display: none;
    width: 190px;
    padding: 22px;
    background-color: white;
    text-align: center;
    position: absolute;
    margin-left: 81%;
    top: 13%;
}
.loginPage input{
    width: 166px;
    padding: 4px;
    border: 2px solid skyblue;
  margin-top: 11px;

}
.loginPage button{
    margin-top: 13px;
    width: 80px;
    height: 28px;
    border: none;
    font-size: 18px;
    color: whitesmoke;
    background-color: red;
}
.mainText h3 {
    font-size: 44px;
    color: rgb(8, 165, 165);
  }
  nav ul {
    margin-left: 45px;
    margin-top: 22px;
  }